<a href="https://colab.research.google.com/github/ekikan/Basic-Python/blob/pandas/pandas_quiz_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas確認課題

このPandas確認問題は、データサイエンス100本ノックの問題で最低限必要な問題を抜粋したものです。

## 必要モジュールのインポート

この問題で使うモジュールをインポートします．

In [1]:
import pandas as pd
import numpy as np

## データの読み込み

In [120]:
df_customer = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/customer.csv')
df_product = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/product.csv')
df_receipt = pd.read_csv('https://raw.githubusercontent.com/The-Japan-DataScientist-Society/100knocks-preprocess/master/docker/work/data/receipt.csv')

---
## 問1. 条件抽出
> P-006: レシート明細データフレーム「df_receipt」から売上日（sales_ymd）、顧客ID（customer_id）、商品コード（product_cd）、売上数量（quantity）、売上金額（amount）の順に列を指定し、以下の条件を満たすデータを抽出せよ。
> - 顧客ID（customer_id）が"CS018205000001"
> - 売上金額（amount）が1,000以上または売上数量（quantity）が5以上

In [132]:
df_receipt1 = df_receipt[["sales_ymd","customer_id","product_cd","quantity","amount"]]
df_receipt1 = df_receipt1[df_receipt["customer_id"]=="CS018205000001"]
df_receipt1 = df_receipt1[(df_receipt1["amount"]>=1000)|(df_receipt1["quantity"]>=5)]
print(df_receipt1)

       sales_ymd     customer_id  product_cd  quantity  amount
36      20180911  CS018205000001  P071401012         1    2200
9843    20180414  CS018205000001  P060104007         6     600
21110   20170614  CS018205000001  P050206001         5     990
68117   20190226  CS018205000001  P071401020         1    2200
72254   20180911  CS018205000001  P071401005         1    1100

---
## 問2. ソート
> P-18: 顧客データフレーム（df_customer）を生年月日（birth_day）で若い順にソートし、先頭5件を全項目表示せよ。

In [ ]:
pd.to_datetime(df_customer["birth_day"])
df_customer1=df_customer.sort_values(by="birth_day",ascending=False)
print(df_customer1.head(5))

          customer_id customer_name  gender_cd gender   birth_day  age  \
15639  CS035114000004         大村 美里          1     女性  2007-11-25   11
7468   CS022103000002        福山 はじめ          9     不明  2007-10-02   11
10745  CS002113000009        柴田 真悠子          1     女性  2007-09-17   11
19811  CS004115000014         松井 京子          1     女性  2007-08-09   11
7039   CS002114000010          山内 遥          1     女性  2007-06-03   11

      postal_cd                address application_store_cd  application_date  \
15639  156-0053     東京都世田谷区桜**********               S13035          20150619
7468   249-0006    神奈川県逗子市逗子**********               S14022          20160909
10745  184-0014  東京都小金井市貫井南町**********               S13002          20160304
19811  165-0031    東京都中野区上鷺宮**********               S13004          20161120
7039   184-0015  東京都小金井市貫井北町**********               S13002          20160920

          status_cd
15639  6-20091205-6
7468   0-00000000-0
10745  0-00000000-0
19811  1-20081231-1
7039   6-20100510-1

---
## 問3. 全件数
> P-021: レシート明細データフレーム（df_receipt）に対し、件数をカウントせよ。

In [20]:
df_receipt.count().values[1]

104681

## 問4. ユニーク件数
> P-022: レシート明細データフレーム（df_receipt）の顧客ID（customer_id）に対し、ユニーク件数をカウントせよ。

In [ ]:
df_receipt["customer_id"].nunique()

8307

---
## 問5. 〇〇ごとに集計
> P-035: レシート明細データフレーム（df_receipt）に対し、顧客ID（customer_id）ごとに売上金額（amount）を合計して全顧客の平均を求め、平均以上に買い物をしている顧客を抽出せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、データは先頭5件だけ表示せよ。

会員のみを抽出する方法は、例えば以下の2通りの方法があります。

In [12]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_receipt_only_member = df_receipt.query("not customer_id.str.startswith('Z')", engine="python")

In [81]:
df_groupby_customer = df_receipt_only_member.groupby(df_receipt_only_member["customer_id"]).sum()
mean = df_groupby_customer["amount"].mean()
df_customer_overMean = df_groupby_customer[df_groupby_customer["amount"]>mean]
df_amount_overMean = df_customer_overMean["amount"]
print(df_amount_overMean.head())

customer_id
CS001115000010    3044
CS001205000006    3337
CS001214000009    4685
CS001214000017    4132
CS001214000052    5639
Name: amount, dtype: int64

---
## 問6. DataFrameの結合
> P-038: 顧客データフレーム（df_customer）とレシート明細データフレーム（df_receipt）から、各顧客ごとの売上金額合計を求めよ。ただし、買い物の実績がない顧客については売上金額を0として表示させること。また、顧客は性別コード（gender_cd）が女性（1）であるものを対象とし、非会員（顧客IDが'Z'から始まるもの）は除外すること。なお、結果は先頭5件だけ表示せよ。

In [126]:
df_customer_only_member = df_customer[~df_customer["customer_id"].str.startswith("Z")]
df_customer_only_member = df_customer.query("not customer_id.str.startswith('Z')", engine="python")

In [131]:
df_receipt_customer = df_receipt.groupby('customer_id').sum().fillna(0)
df_customer_girlMember = df_customer_only_member[df_customer_only_member["gender_cd"] == 1]
pd.merge(df_customer_girlMember,df_receipt_customer,  how='inner', on='customer_id').head(5)

,customer_id,customer_name,gender_cd,gender,birth_day,age,postal_cd,address,application_store_cd,application_date,status_cd,sales_ymd,sales_epoch,receipt_no,receipt_sub_no,quantity,amount
0,CS031415000172,宇多田 貴美子,1,女性,1976-10-04,42,151-0053,東京都渋谷区代々木**********,S13031,20150529,D-20100325-C,282486824,21234182400,16168,21,14,5088
1,CS001215000145,田崎 美紀,1,女性,1995-03-29,24,144-0055,東京都大田区仲六郷**********,S13001,20170605,6-20090929-2,40361858,3076358400,224,3,2,875
2,CS015414000103,奥野 陽子,1,女性,1977-08-09,41,136-0073,東京都江東区北砂**********,S13015,20150722,B-20100609-B,201826078,15346886400,11400,15,10,3122
3,CS033513000180,安斎 遥,1,女性,1962-07-11,56,241-0823,神奈川県横浜市旭区善部町**********,S14033,20150728,6-20080506-5,40341012,2988057600,2324,3,2,868
4,CS011215000048,芦田 沙耶,1,女性,1992-02-01,27,223-0062,神奈川県横浜市港北区日吉本町**********,S14011,20150228,C-20100421-9,121103114,9223891200,672,9,6,3444

---
## 問7. 時系列データ
> P-046: 顧客データフレーム（df_customer）の申し込み日（application_date）はYYYYMMD形式の文字列型でデータを保有している。これを日付型（dateやdatetime）に変換し、顧客ID（customer_id）とともに抽出せよ。なお、データは先頭5件を表示せよ。

In [113]:
application_date= pd.to_datetime(df_customer['application_date'], format='%Y%m%d')
df_customer["application_date"] = application_date
df_customer2=df_customer[["customer_id","application_date"]]
print(df_customer2.head(5))

      customer_id application_date
0  CS021313000114       2015-09-05
1  CS037613000071       2015-04-14
2  CS031415000172       2015-05-29
3  CS028811000001       2016-01-15
4  CS001215000145       2017-06-05

---
## 問8. 関数
> P-061: レシート明細データフレーム（df_receipt）の売上金額（amount）を顧客ID（customer_id）ごとに合計し、合計した売上金額を常用対数化（底=10）して顧客ID、売上金額合計とともに表示せよ。ただし、顧客IDが"Z"から始まるのものは非会員を表すため、除外して計算すること。なお、結果は先頭5件を表示せよ。

In [86]:
df_receipt_only_member = df_receipt[~df_receipt["customer_id"].str.startswith("Z")]
df_receipt_customer = df_receipt.groupby(df_receipt_only_member["customer_id"]).sum()
df_receipt_amount = df_receipt_customer.loc[:,["amount"]]
df_receipt_amount["log_amount"] = np.log10(df_receipt_amount["amount"] + 1)
print(df_receipt_amount.head())

                amount  log_amount
customer_id
CS001113000004    1298    3.113609
CS001114000005     626    2.797268
CS001115000010    3044    3.483587
CS001205000004    1988    3.298635
CS001205000006    3337    3.523486

---
## 問9. 欠損数
> P-079: 商品データフレーム（df_product）の各項目に対し、欠損数を確認せよ。

In [36]:
df_product.isnull().sum()

product_cd            0.0
category_major_cd     0.0
category_medium_cd    0.0
category_small_cd     0.0
unit_price            0.0
unit_cost             0.0
dtype: float64

---
## 問10. 欠損値の除去
> P-080: 商品データフレーム（df_product）のいずれかの項目に欠損が発生しているレコードを全て削除した新たなdf_product_1を作成せよ。なお、削除前後の件数を表示させ、前設問で確認した件数だけ減少していることも確認すること。

In [63]:
df_product_1 = df_product
df_product_1.info()
df_unit_null = df_product_1[df_product_1["unit_price"].isnull()]
df_product_1.drop(index=df_unit_null.index,inplace=True)
print(len(df_product_1))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10023 entries, 0 to 10029
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_cd          10023 non-null  object
 1   category_major_cd   10023 non-null  int64
 2   category_medium_cd  10023 non-null  int64
 3   category_small_cd   10023 non-null  int64
 4   unit_price          10023 non-null  float64
 5   unit_cost           10023 non-null  float64
dtypes: float64(2), int64(3), object(1)
memory usage: 806.2+ KB
10023

In [66]:
len(df_product), len(df_product_1)

(10030, 10023)

---
## 問11. 欠損値の穴埋め
> P-081: 単価（unit_price）と原価（unit_cost）の欠損値について、それぞれの平均値で補完した新たなdf_product_2を作成せよ。なお、平均値について1円未満は四捨五入とせよ。補完実施後、各項目について欠損が生じていないことも確認すること。

In [74]:
df_product_2 = df_product
mean_up = df_product_2["unit_price"].mean().round()
mean_uc = df_product_2["unit_cost"].mean().round()
df_product_2["unit_price"].fillna(mean_up,inplace=True)
df_product_2["unit_cost"].fillna(mean_uc,inplace=True)
df_product_2.isnull().sum()

product_cd            0
category_major_cd     0
category_medium_cd    0
category_small_cd     0
unit_price            0
unit_cost             0
dtype: int64